<h3>Lista de Eventos da Ciandt</h3>

<div class="table-list">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Local</th>
                <th>Data/Hora Início</th>
                <th>Data/Hora Termino</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody ng-repeat="evento in listEventos">
            <tr>
                <td>{{evento.id}}</td>
                <td>{{evento.title}}</td>
                <td>{{evento.locale}}</td>
                <td>{{evento.start_datetime | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{evento.end_datetime | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <button class="btn btn-xs btn-primary" title="Editar" ng-click="editarEvento(evento)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button class="btn btn-xs btn-danger" title="Deletar" ng-click="deleteEventos(evento.id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>